In [ ]:
import pandas as pd 
import numpy as np
from sklearn.decomposition import NMF

In [58]:
movies = pd.read_csv('/home/lorena/Documents/bootcamp/W10/data/ml-latest-small/movies.csv')
movies.tail()

,movieId,title,genres
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [48]:
line0 = movies['title'][0]
line0[-5:-1]

'1995'

In [67]:
ratings = pd.read_csv('/home/lorena/Documents/bootcamp/W10/data/ml-latest-small/ratings.csv')
ratings.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [68]:
ratings['userId'].nunique()

610

In [69]:
ratings['movieId'].nunique()

9724

In [70]:
ratings.isnull().sum()

userId       0
movieId      0
rating       0
timestamp    0
dtype: int64

In [71]:
ratings.index = ratings['userId']
ratings

        userId  movieId  rating   timestamp
userId
1            1        1     4.0   964982703
1            1        3     4.0   964981247
1            1        6     4.0   964982224
1            1       47     5.0   964983815
1            1       50     5.0   964982931
...        ...      ...     ...         ...
610        610   166534     4.0  1493848402
610        610   168248     5.0  1493850091
610        610   168250     5.0  1494273047
610        610   168252     5.0  1493846352
610        610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [72]:
ratings_pivot = ratings.pivot(index='userId', columns='movieId', values='rating')
ratings_pivot

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,4.0,NaN,NaN,4.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,NaN,NaN,NaN,NaN,NaN,2.5,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
607,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
608,2.5,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
609,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
610,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
ratings_pivot.replace(np.nan, 0, inplace=True)
ratings_pivot

movieId,1,2,3,4,5,6,7,8,9,10,...,193565,193567,193571,193573,193579,193581,193583,193585,193587,193609
userId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,4.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
606,2.5,0.0,0.0,0.0,0.0,0.0,2.5,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
607,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
608,2.5,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
609,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
610,5.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [75]:
model = NMF(n_components=2, init='random', random_state=10)
model.fit(ratings_pivot)

Q = model.components_  # movie-genre matrix
P = model.transform(ratings_pivot)  # user-genre matrix

print(model.reconstruction_err_) #reconstruction error

1004.871857192682

In [76]:
nR = np.dot(P, Q)
print(nR) ## The reconstructed matrix!

[[2.45367763e+00 1.11670026e+00 8.81125112e-01 ... 3.63508534e-04
  3.63508534e-04 1.17925585e-03]
 [2.23888225e-01 1.58014426e-01 0.00000000e+00 ... 1.10398889e-03
  1.10398889e-03 3.58144372e-03]
 [6.55909385e-02 2.93420169e-02 2.42835440e-02 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 ...
 [4.33971021e+00 2.33233216e+00 1.04656550e+00 ... 7.46003376e-03
  7.46003376e-03 2.42010507e-02]
 [3.68792243e-01 1.64978707e-01 1.36536889e-01 ... 0.00000000e+00
  0.00000000e+00 0.00000000e+00]
 [4.11401722e+00 2.88347659e+00 2.87795729e-02 ... 1.99028369e-02
  1.99028369e-02 6.45666735e-02]]

In [43]:
# predict the hidden features for a new data point

query = [[1, 2, 5, 4, 5]]
#in this case, a new user providing ratings for the 5 movies.
print(model.transform(query))

[[2.68231475 0.45631224]]